.nav-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-list {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 24px;
    margin: 16px;
    padding: 0;
    list-style: circle;
}

.header {
    display: flex;
    align-items: first baseline;
    gap: 20px;
}
