body {
    margin: 0px;
    padding: 0;
    font-size: 16px;
}

header {
    /*padding: 2.00em;*/
    color: white;
    border: 1px solid black;
}

/*
h1, h2, h3 {
    margin: 0;
    padding: 0;
}

header h1 {
    background-color: black;
    width: 50vw;
}

header h2 {
    background-color: red;
    width: 50%;
}

header h3 {
    background-color: green;
    width: 100vw;
}*/


body > #container > nav {
    background: lightgreen;
    width: 20%;
    float:left;
}

#container {
   /* width: 1024px;*/
    width: 90%;
    margin: 0 auto;
    padding: 0;
}

main {
    background-color: yellow;
    width: 80%;
    margin-left: 20%;
}

footer {
    background-color: lightpink;
}

@media only screen and (max-width: 650px) {
    body > #container > nav {
        float: none; /*remove the float*/
        width: 100%; /*change from 20%*/
    }

    main {
        margin-left: 20%; /*change from 20%*/
        width: 100%; /*change from 80%*/
    }
}